#title_download{
    color: aqua;
}

#parameter_form{
    color: azure;
}

.horizontal-line {
    border: 1px solid white; /* Make the horizontal line white */
}

.download_form_question{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

#options_choose_param {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.download_video_option_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #99ccff;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}
.download_video_option_box input[type="radio"] {
    display: none;
}
.download_video_option_box span {
    display: block;
    color: white;
    font-weight: bold;
}
.download_video_option_box:hover {
    transform: scale(1.05);
}
.download_video_option_box input[type="radio"]:checked + span {
    background-color: #ff9999;
    border-radius: 5px;
}


.download_param_range_slider_box {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: space-between; /* Distribute items evenly along the row */
    align-items: center; /* Center items vertically */
}

.download_param_range_slider_text {
    flex: 1; /* Each item occupies equal space */
    text-align: center; /* Center the text within each label */
    font-size: 20px;
}

.download_param_range_slider {
    flex: 2; /* Adjust the space taken by the slider */
}