#download_button_row{
    justify-content: space-around;
    margin-top: 30vh;
}

.button{
    width: 40vw;
    height: 15vh;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    justify-content: center;
    background: rgb(218, 185, 0);
    overflow: auto;
}
.button:hover {
    background-color: rgb(119, 204, 1);
  }