<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/headerbar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
    <title>Interactive GW</title>

</head>

<body>

    <div class="container-fluid">

        <header>
            <nav class="navbar navbar-expand-md navbar-light" id="navbar">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="container-fluid">
                        <ul class="navbar-nav row w-100"> 
                            <li class="nav-item col">
                                <a class="nav-link" href="/"  style="color: #86e600;">Home</a>
                            </li>
                            <li class="nav-item col"> 
                                <a class="nav-link" href="/interactive_strain">GW strain</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/interactive_h_lm">\( h_{\ell m}\) modes</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/download_videos">Download Videos</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/about_page">About</a>
                            </li>
                            <!-- <li class="nav-item col">
                                <a class="nav-link" href="/test_page">==Test Page==</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <div class="container-fluid centered-image">


        <div class="row row1">

            <div class="col-lg-10 col-md-10 col-sm-10 rowboxes" id="row1box1"> 
                <div class="rowboxtext text_row1">
                    <h1>Welcome to InteractiveGW!</h1>
                    <p> </p>
                    <p>
                        Dive into the world of gravitational waves generated by a 
                        binary black hole merger!
                    </p>
                    <p>
                        Generate real-time gravitational wave signals and download videos!
                    </p>
                    <p>
                        InteractiveGW uses state of the art <a href="https://arxiv.org/abs/1905.09300" target="_blank">NRSur7dq4 surrogate model</a> to generate gravitational waveforms,
                        so it's almost as accurate as numerical relativity generated waveforms.
                    </p>

                    <p>
                        <span class="highlight" id="learnMore" onclick="toggleText()">Learn more...</span>
                    </p>
                    <div id="moreText" class="hidden">
                        <br>

                        <hr class="custom-hr">

                        <h1 class="moreText" id="learn_more_title">\(\underline{\text{NRSur7dq4 surrogate model}}\)</h1>

                        <h3> <br> <span>\(\underline{\text{GW Strain}}\)</span>:</h3>
                        <p class="moreText">
                            For the strain data, the complex strain \( h = h_{+} - i h_\times  \) evaluated 
                            at \( ( \mathbf{\iota}, \pi/2 - \mathbf{\phi_{ref}}) \),  on the sky of the reference frame is returned.
                        </p>

                        <h3> <br> <span>\(\underline{h_{lm} \text{ mode}}\)</span>:</h3>
                        <p class="moreText">
                            For the \(h_{lm} \) mode data, the strain is expressed as sum of spin-weighted spherical harmonic modes, \( h(t, \iota, \phi_0) \, = \sum_{l=2}^{\infty} \sum_{m=-l}^{l} \, h_{lm}(t) \, \sideset{_{-2}}{_{lm}} Y(\iota, \phi_0) \)
                        </p>

                        <h3> <br> <span>\(\underline{\text{Parameters:}}\)</span>:</h3>
                        <table>
                            <tr>
                                <td class="parameter_label"><span style="color: yellowgreen">q</span></td>
                                <td class="moreText" >: Mass ratio, \( \frac{m_A}{m_B} \ge 1 \) , here \( m_A\) is the mass of the heavier BH and \( m_B\) is the mass of the lighter BH</td>
                            </tr>
                            <tr>
                                <td class="parameter_label"><span style="color: yellowgreen">\( \chi_{A} \)</span></td>
                                <td class="moreText" >: Initial dimensionless spin vector of the heavier black hole.</td>
                            </tr>
                            <tr>
                                <td class="parameter_label"><span style="color: yellowgreen">\( \chi_{B} \)</span></td>
                                <td class="moreText" >: Initial dimensionless spin vector of the lighter black hole.</td>
                            </tr>
                            <tr>
                                <td class="parameter_label"><span style="color: yellowgreen">\( \mathbf{\iota} \)</span></td>
                                <td class="moreText" >: Initial inclination angle between the orbital angular momentum direction and the line-of-sight to the observer.</td>
                            </tr>
                            <tr>
                                <td class="parameter_label"><span style="color: yellowgreen">\( \mathbf{\phi_{ref}} \)</span></td>
                                <td class="moreText" >: Initial azimuthal angle on the sky of the source frame following the LAL convention.</td>
                            </tr>
                            <tr>
                                <td class="parameter_label"><span style="color: yellowgreen">\( (\ell,m) \)</span></td>
                                <td class="moreText" >: Indicate the spin-weighted spherical harmonic mode coefficients in the expansion of \( h(t, \iota, \phi_0) \, \)</td>
                            </tr>
                        </table>

                        <h3> <br> <span>\(\underline{\text{Other fixed parameters:}}\)</span>:</h3>
                        <p class="moreText">
                            f_low = 0 : This input in the NR7dq4 surrogate model implies that the entire waveform is returned.<br>
                            times = np.arange(-4299,99,1) : This input in the NR7dq4 surrogate model fixes the time samples chosen for the waveforms.<br>
                            <br> video_length = 20 sec : Downloaded videos are 20 seconds long.<br>
                            video_fps = 24 : Downloaded videos have 24 fps.<br>
                            video_width = 1500 px : Downloaded videos have width of 1500px.<br>
                            video_height = 700 px : Downloaded videos have height of 700px.<br>
                        </p>

                        <hr class="custom-hr">
                        <p>
                            <span class="highlight" onclick="toggleText()">Show less...</span>
                        </p>
                        
                        
                    </div>
                </div>
            </div>

        </div>


        <div class="row row2">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="interactive_strain">
                    <div class="rowboxes" id="row2box1">
                        <div class="rowboxtext text_row2">
                            <h2>Interactive GW Strain</h2>

                            <p> <br> Make interactive plots for gravitational wave strain \( {\color{yellowgreen}h(t)} \), </p>
                            <p>
                                \( {\color{yellowgreen}{h(t, \iota, \phi_0)}} {\color{skyblue} \, = \sum_{l=2}^{\infty} \sum_{m=-l}^{l} \, h_{lm}(t) \, \sideset{_{-2}}{_{lm}} Y(\iota, \phi_0)} \)
                            </p>
                            <p>
                                Vary the parameters of binary black holes, inclination, azimuthal angle to see how the strain depends on these paramters.
                            </p>
                        </div>
                    </div>
                </a>          
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="interactive_strain">
                    <div class="rowboxes" id="row2box2">
                        <div class="rowboximage image_row2">
                            <img src="./../static/images/interactive_strain.gif"> <!-- Replace "your-image.jpg" with your image file path -->
                        </div>
                    </div>
                </a>
            </div>

        </div>


        <div class="row row3">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="interactive_h_lm">
                    <div class="rowboxes" id="row3box1">
                        <div class="rowboxtext text_row3">
                            <h2>Interactive GW \(h_{lm} \) modes</h2> 
                            <p> </p>
                            <p> <br> Make interactive plots for gravitational wave \({\color{yellowgreen}h_{lm}} \) modes when expanded as </p>
                            <p>
                                \( {\color{skyblue} h(t, \iota, \phi_0) \, = \sum_{l=2}^{\infty} \sum_{m=-l}^{l} \, {\color{yellowgreen}h_{lm}(t)} \, \sideset{_{-2}}{_{lm}} Y(\iota, \phi_0)} \)
                            </p>
                            <p>
                                Vary the parameters of binary black holes and spherical harmonic modes to see how the strain depends on these paramters.
                            </p>
                        </div>
                    </div>
                </a>        
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="interactive_h_lm">
                    <div class="rowboxes" id="row3box2">
                        <div class="rowboximage image_row3">
                            <img src="./../static/images/interactive_h_lm.gif"> <!-- Replace "your-image.jpg" with your image file path -->
                        </div>
                    </div>
                </a>             
            </div>

        </div>


        <div class="row row4">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="download_videos">
                    <div class="rowboxes" id="row4box1">
                        <div class="rowboxtext text_row4">
                            <h2>Download videos</h2>
                            <p> </p>
                            <p>
                                Download videos of how \( {\color{yellowgreen}h(t)} \) signal or \({\color{yellowgreen}h_{lm}} \) modes depend on the binary black hole parameters.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="download_videos">
                    <div class="rowboxes" id="row4box2">
                        <div class="rowboximage image_row4">
                            <img src="./../static/images/download_video_strain.gif"> <!-- Replace "your-image.jpg" with your image file path -->
                        </div>
                    </div>
                </a>         
            </div>

        </div>

    </div>

    <script>
        function toggleText() {
            var moreText = document.getElementById("moreText");
            var learnMore = document.getElementById("learnMore");
            var top_of_the_page = document.getElementById("navbar");

            if (moreText.classList.contains("hidden")) {
                moreText.classList.remove("hidden");
                learnMore.style.display = "none";
                moreText.scrollIntoView({ behavior: "smooth" });
            } else {
                moreText.classList.add("hidden");
                learnMore.style.display = "inline";
                top_of_the_page.scrollIntoView({ behavior: "smooth" });
            }
        }
    </script>

</body>
</html>

