<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/headerbar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <title>Interactive GW</title>

</head>

<body>

    <div class="container-fluid">

        <header>
            <nav class="navbar navbar-expand-md navbar-light" id="navbar">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="container-fluid">
                        <ul class="navbar-nav row w-100"> 
                            <li class="nav-item col">
                                <a class="nav-link" href="/"  style="color: #86e600;">Home</a>
                            </li>
                            <li class="nav-item col"> 
                                <a class="nav-link" href="/interactive_strain">GW strain</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/interactive_h_lm">\( h_{lm}\) modes</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/download_videos">Download Videos</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/about_page">About</a>
                            </li>
                            <!-- <li class="nav-item col">
                                <a class="nav-link" href="/test_page">==Test Page==</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <div class="container-fluid centered-image">

        <div class="row row1">
            <div class="col-lg-6 col-md-6 col-sm-6 rowboxes" id="row1box1"> 
                <div class="rowboxtext text_row1">
                    <h1>Welcome to InteractiveGW!</h1> 
                    <p>InteractiveGW lets you explore gravitational waves...</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 rowboxes" id="row1box2">
                <div class="rowboximage image_row1">
                    <img src="./../static/images/nasa-GW.gif"> <!-- Replace "your-image.jpg" with your image file path -->
                </div>
            </div>
        </div>

        <div class="row row2">
            <div class="col-lg-6 col-md-6 col-sm-6 rowboxes" id="row2box1"> 

                <div class="rowboxtext text_row2">
                    <h1>Interactive Gravitational wave strain</h1> 
                    <p>InteractiveGW lets you explore gravitational waves...</p>
                </div>
                
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 rowboxes" id="row2box2">
                <div class="rowboximage image_row2">
                    <img src="./../static/images/nasa-GW.gif"> <!-- Replace "your-image.jpg" with your image file path -->
                </div>
            </div>
        </div>

        <div class="row row3">
            <div class="col-lg-6 col-md-6 col-sm-6 rowboxes" id="row3box1"> 
                <div class="rowboxtext text_row3">
                    <h1>Interactive Gravitational wave modes</h1> 
                    <p>InteractiveGW lets you explore gravitational waves...</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 rowboxes" id="row3box2">
                <div class="rowboximage image_row3">
                    <img src="./../static/images/nasa-GW.gif"> <!-- Replace "your-image.jpg" with your image file path -->
                </div>
            </div>
        </div>


        <div class="row row4">
            <div class="col-lg-6 col-md-6 col-sm-6 rowboxes" id="row4box1"> 
                <div class="rowboxtext text_row4">
                    <h1>Download videos</h1> 
                    <p>InteractiveGW lets you explore gravitational waves...</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 rowboxes" id="row4box2">
                <div class="rowboximage image_row4">
                    <img src="./../static/images/nasa-GW.gif"> <!-- Replace "your-image.jpg" with your image file path -->
                </div>
            </div>
        </div>



    </div>





    
    
      <!-- jQuery (Bootstrap JS plugins depend on it) -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

