<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/headerbar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/interactive_base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/download_videos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/download_base.css') }}">


    <title>Interactive GW</title>

    <style>
        /* Inline CSS specific to this page */
        body {
            color: yellow;
            background-color: black; /* Dark background to contrast the white text */
        }
        .hidden {
            display: none;
        }
    </style>

</head>

<body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <div class="container-fluid">

        <header>
            <nav class="navbar navbar-expand-md navbar-light" id="navbar">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="container-fluid">
                        <ul class="navbar-nav row w-100"> 
                            <li class="nav-item col">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item col"> 
                                <a class="nav-link" href="/interactive_strain">GW strain</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/interactive_h_lm">\( h_{lm}\) modes</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/download_videos" style="color:  rgb(134, 230, 0);">Download Videos</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/about_page">About</a>
                            </li>

                            <!-- <li class="nav-item col">
                                <a class="nav-link" href="/test_page">==Test Page==</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>


    <form id="dynamicForm">
        <div id="question1">
            <label for="answer1">What is your favorite color?</label>
            <select id="answer1" name="answer1" onchange="showNextQuestion(1, this.value)">
                <option value="">Select...</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
            </select>
        </div>
        
        <div id="question2" class="hidden">
            <label for="answer2">Why do you like <span id="colorPlaceholder"></span>?</label>
            <input type="text" id="answer2" name="answer2" onchange="showNextQuestion(2, this.value)">
        </div>
        
        <div id="question3" class="hidden">
            <label for="answer3">What shade of <span id="colorPlaceholder2"></span> do you prefer?</label>
            <input type="text" id="answer3" name="answer3">
        </div>

        <div id="submitDiv" class="hidden">
            <button type="submit">Submit</button>
        </div>
    </form>

    <hr class="horizontal-line" color="white">
    <hr class="horizontal-line">
    <hr class="horizontal-line">


    <script>
        function showNextQuestion(questionNumber, answer) {
            if (questionNumber === 1 && answer) {
                document.getElementById('colorPlaceholder').innerText = answer;
                document.getElementById('question2').classList.remove('hidden');
            }
            if (questionNumber === 2 && answer) {
                document.getElementById('colorPlaceholder2').innerText = document.getElementById('answer1').value;
                document.getElementById('question3').classList.remove('hidden');
                document.getElementById('submitDiv').classList.remove('hidden');
            }
        }
    </script>

<form id="parameter_form" method="post" onsubmit="return submitForm();">

    <label for="choose_parameter_to_vary">Choose a Parameter to vary</label>
    <select id="choose_parameter_to_vary" name="choose_parameter_to_vary" onchange="showNextQuestion(1, this.value)">
        <option value="q" selected>q</option>
        <option value="chiAx">ChiAx</option>
        <option value="chiAy">ChiAy</option>
        <option value="chiAz">ChiAz</option>
        <option value="chiBx">ChiBx</option>
        <option value="chiBy">ChiBy</option>
        <option value="chiBz">ChiBz</option>
        <option value="inclination">Inclination</option>
        <option value="phi_ref">phi_ref</option>
    </select>
    <br>

    <script>
            function showNextQuestion(questionNumber, answer) {

                
            }

    </script>





</body>
</html>
