<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/headerbar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/interactive_base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/interactive_strain.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/interactive_h_lm.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/download_videos.css') }}">

    <title>Interactive GW</title>

</head>
<body>

    <div class="container-fluid">

        <header>
            <nav class="navbar navbar-expand-md navbar-light">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="container-fluid">
                        <ul class="navbar-nav row w-100"> 
                            <li class="nav-item col">
                                <a class="nav-link" href="/" style="color: blue;">Home</a>
                            </li>
                            <li class="nav-item col"> 
                                <a class="nav-link" href="/interactive_strain">GW strain</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/interactive_h_lm">h_lm modes</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/download_videos">Download Videos</a>
                            </li>
                            <!-- <li class="nav-item col">
                                <a class="nav-link" href="/test_page">==Test Page==</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <!-- Horizontal line -->
    <hr class="horizontal-line">



    <div class="container-fluid centered-image">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6"> 
                This is space for information about GW!!!!!!!!!!!!! 
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!
                This is space for information about GW!!!!!!!!!!!!!

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="homepage-nasa-gif">
                    <img src="./../static/images/nasa-GW.gif"> <!-- Replace "your-image.jpg" with your image file path -->
                </div>
            </div>
        
        </div>
    </div>





    
    
      <!-- jQuery (Bootstrap JS plugins depend on it) -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

