<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/headerbar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/interactive_base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/download_videos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/download_base.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.css" rel="stylesheet">


    <title>Interactive GW</title>

    <style>
        /* Inline CSS specific to this page */
        body {
            color: yellow;
            background-color: black; /* Dark background to contrast the white text */
        }
        .hidden {
            display: none;
        }
    </style>

</head>

<body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <div class="container-fluid">

        <header>
            <nav class="navbar navbar-expand-md navbar-light" id="navbar">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="container-fluid">
                        <ul class="navbar-nav row w-100"> 
                            <li class="nav-item col">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item col"> 
                                <a class="nav-link" href="/interactive_strain">GW strain</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/interactive_h_lm">\( h_{lm}\) modes</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/download_videos" style="color:  rgb(134, 230, 0);">Download Videos</a>
                            </li>
                            <li class="nav-item col">
                                <a class="nav-link" href="/about_page">About</a>
                            </li>

                            <!-- <li class="nav-item col">
                                <a class="nav-link" href="/test_page">==Test Page==</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>


<h1> TEST PAGE !!! </h1>
<br>

<form class="container-fluid" id="Download_Strain_Form">



    <div class="row">
        <div class="col-12 download_form_question" id="question_choose_param">
            <p>Choose a parameter to vary</p>
        </div>
    </div>

    <div class="row" id="options_choose_param">
        <div class="col-12 col-md-4">
            <label class="download_video_option_box">
                <input type="radio" name="parameter" value="q">
                <span>q</span>
            </label>
        </div>
        <div class="col-12 col-md-4">
            <label class="download_video_option_box">
                <input type="radio" name="parameter" value="inclination">
                <span>\( \mathbf{\iota} \)</span>
            </label>
        </div>
        <div class="col-12 col-md-4">
            <label class="download_video_option_box">
                <input type="radio" name="parameter" value="phi_ref">
                <span>\( \mathbf{\phi_{ref}} \)</span>
            </label>
        </div>
        <div class="col-12 col-md-4">
            <label class="download_video_option_box">
                <input type="radio" name="parameter" value="chiAx">
                <span>\( \mathbf{\chi^A_x} \)</span>
            </label>
        </div>
        <div class="col-12 col-md-4">
            <label class="download_video_option_box">
                <input type="radio" name="parameter" value="chiAy">
                <span>\( \mathbf{\chi^A_y} \)</span>
            </label>
        </div>
        <div class="col-12 col-md-4">
            <label class="download_video_option_box">
                <input type="radio" name="parameter" value="chiAz">
                <span>\( \mathbf{\chi^A_z} \)</span>
            </label>
        </div>
        <div class="col-12 col-md-4">
            <label class="download_video_option_box">
                <input type="radio" name="parameter" value="chiBx">
                <span>\( \mathbf{\chi^B_x} \)</span>
            </label>
        </div>
        <div class="col-12 col-md-4">
            <label class="download_video_option_box">
                <input type="radio" name="parameter" value="chiBy">
                <span>\( \mathbf{\chi^B_y} \)</span>
            </label>
        </div>
        <div class="col-12 col-md-4">
            <label class="download_video_option_box">
                <input type="radio" name="parameter" value="chiBz">
                <span>\( \mathbf{\chi^B_z} \)</span>
            </label>
        </div>
    </div>




    


    <div class="row" id="range_question" style="display: none;">
        <div class="col-12 download_form_question">
            <p>Specify the range for <span id="selected_param"></span>:</p>
            <div id="range_slider_container">
                <label for="start_value">Start: <span id="start_value_label">0</span></label>
                <div id="range_slider"></div>
                <label for="end_value">End: <span id="end_value_label">100</span></label>
            </div>
        </div>
    </div>

    <div class="row" id="second_question" style="display: none;">
        <div class="col-12 download_form_question" id="second_question_options">
            <!-- Second question options will be inserted here dynamically -->
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const options = document.querySelectorAll('input[name="parameter"]');
        options.forEach(option => {
            option.addEventListener('change', function() {
                const rangeQuestion = document.getElementById('range_question');
                const selectedParam = document.getElementById('selected_param');
                const secondQuestion = document.getElementById('second_question');
                const secondQuestionOptions = document.getElementById('second_question_options');

                selectedParam.textContent = this.value;
                rangeQuestion.style.display = 'block';

                // Initialize the slider
                const rangeSlider = document.getElementById('range_slider');
                noUiSlider.create(rangeSlider, {
                    start: [0, 100],
                    connect: true,
                    range: {
                        'min': 0,
                        'max': 100
                    }
                });

                // Update labels when slider values change
                rangeSlider.noUiSlider.on('update', function (values, handle) {
                    document.getElementById('start_value_label').textContent = Math.round(values[0]);
                    document.getElementById('end_value_label').textContent = Math.round(values[1]);
                });

                // Clear any previous options
                secondQuestionOptions.innerHTML = '';

                // Define options for the second question based on the selected parameter
                let secondQuestionContent = '';
                switch(this.value) {
                    case 'q':
                        secondQuestionContent = `
                            <p>Choose a sub-parameter for q:</p>
                            <div>
                                <label><input type="radio" name="sub_parameter" value="q1"> q1</label>
                                <label><input type="radio" name="sub_parameter" value="q2"> q2</label>
                            </div>
                        `;
                        break;
                    case 'inclination':
                        secondQuestionContent = `
                            <p>Choose a sub-parameter for inclination:</p>
                            <div>
                                <label><input type="radio" name="sub_parameter" value="i1"> i1</label>
                                <label><input type="radio" name="sub_parameter" value="i2"> i2</label>
                            </div>
                        `;
                        break;
                    // Add more cases as needed for other parameters
                    default:
                        secondQuestionContent = `<p>No sub-parameters available.</p>`;
                }

                secondQuestionOptions.innerHTML = secondQuestionContent;
                secondQuestion.style.display = 'block';
            });
        });
    });
</script>

</body>
</html>